:root {
    --color-primary: #CD5C08;
    --color-black: #000;
    --color-white: #fff;
    --color-input-dark: #0B192C;
    --color-grey: #5c5c5e;
}

/* rounded */
.rounded-sm {
    border-radius: 4px;
}
.rounded-md {
    border-radius: 8px;
}

/*  */
.btn-primary {
    background-color: var(--color-primary);
    border: none;
}
.btn-primary:hover {
    background-color: var(--color-primary);
    opacity: 0.9;
}

/*  */
.text-primary {
    color: var(--color-primary) !important;
}